/* Layout */
html, body{
    font-family: fantasy;
    min-width: 630px;
    background-color: #CCCCCC;
}

#container {
    padding-left: 200px;
    padding-right: 10px;
}

#container .column {
    position: relative;
    float: left;
}

#center {
    padding: 10px 20px;
    width: 100%;
    font-family: fantasy;
}

#left {
    width: 180px;
    padding: 10px 10px;
    right: 240px;
    margin-left: -100%;
}

#footer {
    clear: both;
    font-family: fantasy;
}

.logo{
    width:150px;
    height:120px;
    margin: 0%;
}


/* IE hack */
* html #left {
    left: 150px;
}

/* Make the columns the same height as each other */
#container {
    overflow: hidden;
}

#container .column {
    padding-bottom: 1001em;
    margin-bottom: -1000em;
}
/*****left column*****/
.CAbutton {
    font-family: fantasy;
    background-color: #E3E3E3; 
    padding: 2px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    border: 1px solid #3CBC8D;
    width: 180px;
    margin:0px;
}
.CAbutton:hover {
    font-family: fantasy;
    background-color: #3CBC8D;
    color: white;
    border: 1px solid white;
}
.CAbutton:active{
    font-family: fantasy;
    background-color: #72D9C7;
    color: white;
    border: 1px solid white;
}
/* Fix for the footer */
* html body {
    overflow: hidden;
}

* html #footer-wrapper {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    background: #fff;
}

/* Aesthetics */
body {
    margin: 0;
    padding: 0;
    font-family:Sans-serif;
    line-height: 1.5em;
}

p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: darkgreen;
    text-decoration: none;
}

#footer {
    font-size: large;
    padding: 0.3em;
    background: #3CBC8D;
}

#left {
    background: #CAE5E6;
}

#right {
    background: #F7FDEB;
}

#center {
    background: #CAE5E6;
}

#container .column {
    padding-top: 1em;
}

/*******Test********/

.columnEffect{
    margin-right: 5px;
    border-radius: 5px;
    float: left;
    height: 290px;
    width: 180px;
    padding:20px 20px;
}
/*head*/
#leftH{
    float: left;
    width: 220px;
    height: 150px;
    background: #CAE5E6;
}
/*******Search bar*********/
input[type=text] {
    font-family: fantasy;
    background-color: #3CBC8D;
    color: white;
    width: 400px;
    font-size: 10px;
    padding: 6px;
    margin:10px;
    margin-left: 0px;
    margin-right: 0px;
}
#mainH {
    margin: 50px 230px;
    background: #CAE5E6;
    height: 50px;
}
.rightH{
    float:right;
    position:relative;
    width: 80px;
}
.head{
    height:150px;
    width:98%;
    padding: 10px;
    background-color:#CAE5E6;
    margin: 8px 0px;
}
.searchButton {
    font-family: fantasy;
    background-color: #FFE6CC; 
    border: none;
    color: black;
    padding: 3px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2px;
    margin-left: 0px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    border: 1px solid #3CBC8D;
}
.searchButton:hover {
    font-family: fantasy;
    background-color: #3CBC8D;
    color: white;
    border: 1px solid white;
}
.searchButton:active{
    font-family: fantasy;
    background-color: #72D9C7;
    color: white;
    border: 1px solid white;
}
/******righthead********/
.rightButton {
    font-family: fantasy;
    background-color: #CCCCCC; 
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 2px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    border: 1px solid white;
}
.rightButton:hover {
    font-family: fantasy;
    background-color: #3CBC8D;
    color: white;
    border: 1px solid #3CBC8D;
}
.rightButton:active{
    font-family: fantasy;
    background-color: #72D9C7;
    color: white;
    border: 1px solid white;
}

/*******buttonsOfMain************/
.button {
    font-family: fantasy;
    background-color: #3CBC8D; 
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    border: 1px solid white;
    width: 180px;
}
.button:hover {
    font-family: fantasy;
    background-color: white;
    color: #3CBC8D;
    border: 1px solid #3CBC8D;
}
.button:active{
    font-family: fantasy;
    background-color: #E3E3E3;
    color: white;
    border: 1px solid #3CBC8D;
}
/***********imageStyle***********/
.image{
    width: 182px;
    height: 268px;
    cursor: pointer;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
.image:hover{
    transform: scale(1.1);
}

.imageCover{
    overflow: hidden;
}
/*******movieDetailsPage*********/
.title{
    font-size: 25px;
    font-weight: bold;
    margin-top: 24px;
}
#leftM{
    float: left;
}
#mainM{
    margin: 20px 230px; 
    margin-bottom: 0px;
}
#bottom{
    margin: 140px 0px;
    margin-bottom: 0px;
}
#description{
    width: 1000px;
    background-color: #CAE5E6;
    border: 1px solid #3CBC8D;
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
}
/********basket**********/
#leftB{
    float: left;
    margin-top: 15px;
}
#mainB{
    float: right;
    margin-top:25px;
    margin-bottom: 100px;
    padding: 20px;
    margin-left: 10px;
}
.titleB{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 10px;
}
#item {
    background-color: #3CBC8D;
    width: 1020px;
    height: 300px;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.quantity{
    background-color: white;
    color: black;
    border: 1px solid #CAE5E6;
    padding: 0px 20px;
    text-align: center;
}
.buttonQ {
    font-family: fantasy;
    background-color: white; 
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    width: 20px;
}
.buttonQ:hover {
    font-family: fantasy;
    background-color: #E3E3E3;
    color: black;
}
.buttonQ:active{
    font-family: fantasy;
    background-color: #CAE5E6;
    color: #3CBC8D;
}
#fontfamily{
    font-family: fantasy;
}
/********DataGrid*******/


.ui-datagrid-no-border .ui-datagrid-content {
   border: none;
} 

.ui-panelgrid-content{
    border: none;
}